<ul style="list-style-type:none">
  <li>
    <h4>Articles</h4>
    <ol>
      <% hash[:articles].each do |article| %>
        <li>
          <%= article[0].capitalize %>
          <ol type="a">
            <li>Title: <%= article[1][:title] %></li>
            <li>Description: <%= article[1][:description] %></li>
            <li>
              Author: <% hash[:authors].each do |author| %>
                <% if author[1][:id] == article[1][:author_id] %>
                  <%= author[1][:FirstName] + ' ' + author[1][:LastName] %>
                <% end %>
              <% end %>
            </li>
          </ol>
        </li>
      <% end %>
    </ol>
    <br>
    <h4>Authors</h4>
    <ol>
      <% hash[:authors].each do |author| %>
        <li>
          <%= author[0].capitalize %>
          <ol type="a">
            <li>First Name: <%= author[1][:FirstName] %></li>
            <li>Last Name: <%= author[1][:LastName] %></li>
            <li>
              Articles count:
              <%= hash[:articles].count {|article| article[1][:author_id] == author[1][:id]} %>
            </li>
          </ol>
        </li>
      <% end %>
    </ol>
  </li>
</ul>